In [561]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import label_binarize

In [562]:
def preper_data():
    
    data=pd.read_csv("DATA(1).csv")
    col_names=['student_id',
      'age',
      'sex',
      'graduated_h_school_type',
      'scholarship_type',
      'additional_work',
      'activity',
      'partner',
      'total_salary',
      'transport',
      'accomodation',
      'mother_ed',
      'farther_ed',
      'siblings',
      'parental_status',
      'mother_occup',
      'father_occup',
      'weekly_study_hours',
      'reading_non_scientific',
      'reading_scientific',
      'attendance_seminars_dep',
      'impact_of_projects',
      'attendances_classes',
      'preparation_midterm_company',
      'preparation_midterm_time',
      'taking_notes',
      'listenning',
      'discussion_improves_interest',
      'flip_classrom',
      'grade_previous',
      'grade_expected',
      'course_id',
      'grade']

    new_data = data.rename(columns={data.columns[0]: 'total'})
    new_data[col_names]=new_data['total'].str.split(';',expand=True)
    df_1=new_data.drop("total",axis=1)
    col_names[1:]
    df_1[col_names[1:]] = df_1[col_names[1:]].astype(int)
    return df_1

In [563]:
data=preper_data()
data

,student_id,age,sex,graduated_h_school_type,scholarship_type,additional_work,activity,partner,total_salary,transport,...,preparation_midterm_company,preparation_midterm_time,taking_notes,listenning,discussion_improves_interest,flip_classrom,grade_previous,grade_expected,course_id,grade
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [564]:
print(df['grade'].value_counts())

1    35
2    24
3    21
5    17
7    17
6    13
4    10
0     8
Name: grade, dtype: int64

In [565]:
data.describe()

,age,sex,graduated_h_school_type,scholarship_type,additional_work,activity,partner,total_salary,transport,accomodation,...,preparation_midterm_company,preparation_midterm_time,taking_notes,listenning,discussion_improves_interest,flip_classrom,grade_previous,grade_expected,course_id,grade
count,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,...,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,1.620690,1.600000,1.944828,3.572414,1.662069,1.600000,1.579310,1.627586,1.620690,1.731034,...,1.337931,1.165517,2.544828,2.055172,2.393103,1.806897,3.124138,2.724138,4.131034,3.227586
std,0.613154,0.491596,0.537216,0.805750,0.474644,0.491596,0.495381,1.020245,1.061112,0.783999,...,0.614870,0.408483,0.564940,0.674736,0.604343,0.810492,1.301083,0.916536,3.260145,2.197678
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,3.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,1.000000,3.000000,3.000000,3.000000,2.000000,4.000000,3.000000,7.000000,5.000000
max,3.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,5.000000,4.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,4.000000,9.000000,7.000000

data.describe()

In [566]:
data.nunique()

student_id                      145
age                               3
sex                               2
graduated_h_school_type           3
scholarship_type                  5
additional_work                   2
activity                          2
partner                           2
total_salary                      5
transport                         4
accomodation                      4
mother_ed                         6
farther_ed                        6
siblings                          5
parental_status                   3
mother_occup                      5
father_occup                      5
weekly_study_hours                5
reading_non_scientific            3
reading_scientific                3
attendance_seminars_dep           2
impact_of_projects                3
attendances_classes               2
preparation_midterm_company       3
preparation_midterm_time          3
taking_notes                      3
listenning                        3
discussion_improves_interest      3
flip_classrom                     3
grade_previous                    5
grade_expected                    4
course_id                         9
grade                             8
dtype: int64

In [584]:
most_correlated =data.corr().abs()['grade'].sort_values(ascending=False)
print(most_correlated)

grade                           1.000000
sex                             0.335533
grade_previous                  0.315493
grade_expected                  0.248588
impact_of_projects              0.203273
reading_non_scientific          0.195617
attendance_seminars_dep         0.184763
additional_work                 0.167445
total_salary                    0.166352
transport                       0.156289
discussion_improves_interest    0.146547
course_id                       0.142166
attendances_classes             0.139564
flip_classrom                   0.110617
graduated_h_school_type         0.104821
age                             0.095251
listenning                      0.085137
siblings                        0.084470
preparation_midterm_time        0.073783
parental_status                 0.066379
mother_ed                       0.066318
farther_ed                      0.063504
activity                        0.062993
partner                         0.051778
taking_notes                    0.044862
father_occup                    0.044268
weekly_study_hours              0.033065
mother_occup                    0.030747
scholarship_type                0.023963
accomodation                    0.023683
preparation_midterm_company     0.014638
reading_scientific              0.003189
Name: grade, dtype: float64

C:\Users\ASUS\AppData\Local\Temp\ipykernel_10168\1486886569.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  most_correlated =data.corr().abs()['grade'].sort_values(ascending=False)

In [567]:
df= data.drop(['student_id'],axis=1)
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [568]:
from imblearn.over_sampling import RandomOverSampler, SMOTE
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sm= SMOTE(random_state=42)
X, y = sm.fit_resample (X, y.ravel())
y,class_names = pd.factorize(y)
sc_X = StandardScaler() 
X = sc_X.fit_transform(X)
# norm = MinMaxScaler ()
# X= norm. fit_transform (X)

In [569]:
X

array([[ 1.03044762,  1.00716855,  2.30166998, ..., -1.60344361,
        -1.81459964, -1.14594686],
       [ 1.03044762,  1.00716855,  2.30166998, ..., -0.77814175,
         0.57640224, -1.14594686],
       [ 1.03044762,  1.00716855,  0.22274226, ..., -0.77814175,
        -0.6190987 , -1.14594686],
       ...,
       [-0.75057296,  1.00716855,  0.22274226, ...,  0.87246197,
         0.57640224, -0.16670437],
       [-0.75057296,  1.00716855,  0.22274226, ...,  0.04716011,
         0.57640224,  0.81253811],
       [-0.75057296,  1.00716855, -1.85618546, ..., -0.77814175,
         0.57640224,  0.81253811]])

In [570]:
X.shape

(280, 31)

In [571]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [572]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import roc_curve, auc
classifier = DecisionTreeClassifier(criterion='entropy',max_depth=8, random_state=42)
classifier.fit(X_train, y_train)
y_pred =classifier.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}".format(accuracy))
cm=confusion_matrix(y_test,y_pred)
print('Confusion Matrix: \n', cm)
print(classification_report(y_test, y_pred))

Accuracy: 0.57
Confusion Matrix:
 [[ 1  3  3  1  0  2  0  0]
 [ 0  7  3  0  0  0  0  0]
 [ 2  0  3  0  1  1  3  1]
 [ 2  0  0  9  0  0  0  0]
 [ 2  1  0  0  5  1  0  2]
 [ 2  1  1  1  0  4  1  0]
 [ 0  0  0  0  0  0 11  0]
 [ 0  0  0  0  2  0  0  8]]
              precision    recall  f1-score   support

           0       0.11      0.10      0.11        10
           1       0.58      0.70      0.64        10
           2       0.30      0.27      0.29        11
           3       0.82      0.82      0.82        11
           4       0.62      0.45      0.53        11
           5       0.50      0.40      0.44        10
           6       0.73      1.00      0.85        11
           7       0.73      0.80      0.76        10

    accuracy                           0.57        84
   macro avg       0.55      0.57      0.55        84
weighted avg       0.55      0.57      0.56        84

In [573]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
classifer = GaussianNB()
classifer.fit(X_train, y_train)
y_pred = classifer.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}".format(accuracy))
cm=confusion_matrix(y_test,y_pred)
print('Confusion Matrix: \n', cm)
print(classification_report(y_test, y_pred))

Accuracy: 0.35
Confusion Matrix:
 [[2 0 0 0 1 4 3 0]
 [2 0 0 2 0 5 1 0]
 [0 0 0 1 0 6 3 1]
 [1 0 0 9 1 0 0 0]
 [0 0 0 1 2 4 4 0]
 [1 0 0 1 1 7 0 0]
 [0 0 0 0 0 5 6 0]
 [1 0 0 0 0 1 5 3]]
              precision    recall  f1-score   support

           0       0.29      0.20      0.24        10
           1       0.00      0.00      0.00        10
           2       0.00      0.00      0.00        11
           3       0.64      0.82      0.72        11
           4       0.40      0.18      0.25        11
           5       0.22      0.70      0.33        10
           6       0.27      0.55      0.36        11
           7       0.75      0.30      0.43        10

    accuracy                           0.35        84
   macro avg       0.32      0.34      0.29        84
weighted avg       0.32      0.35      0.29        84

C:\Users\ASUS\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ASUS\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ASUS\AppData\Roaming\Python\Python39\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [577]:
# importing KNN algorithm
from sklearn.neighbors import KNeighborsClassifier
# K value set to be 3
classifer = KNeighborsClassifier(n_neighbors=3)
# model training
classifer.fit(X_train,y_train)
# testing the model
y_pred= classifer.predict(X_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}".format(accuracy))
cm=confusion_matrix(y_test,y_pred)
print('Confusion Matrix: \n', cm)
print(classification_report(y_test, y_pred))

Accuracy: 0.67
Confusion Matrix:
 [[ 3  0  1  1  2  1  2  0]
 [ 1  5  2  0  0  1  1  0]
 [ 0  0  9  0  0  0  0  2]
 [ 0  0  0 11  0  0  0  0]
 [ 2  1  0  0  7  0  1  0]
 [ 1  0  0  0  1  8  0  0]
 [ 1  0  1  0  0  1  6  2]
 [ 0  0  2  0  0  0  1  7]]
              precision    recall  f1-score   support

           0       0.38      0.30      0.33        10
           1       0.83      0.50      0.62        10
           2       0.60      0.82      0.69        11
           3       0.92      1.00      0.96        11
           4       0.70      0.64      0.67        11
           5       0.73      0.80      0.76        10
           6       0.55      0.55      0.55        11
           7       0.64      0.70      0.67        10

    accuracy                           0.67        84
   macro avg       0.67      0.66      0.66        84
weighted avg       0.67      0.67      0.66        84

C:\Users\ASUS\AppData\Roaming\Python\Python39\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)